@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Auzre DevOps Services are Awesome..!</h1>
    <p>This is a sample ASP.NET Core application.</p>
</div>
